In [8]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
ls

NYPD_Shooting_Incident_Data__Historic_.csv
NYPD_Shootings_Historic_DataDictionary.xlsx
NYPD_Shootings_Incident_Level_Data_Footnotes (1).pdf
Untitled.ipynb

In [33]:
df = pd.read_csv('NYPD_Shooting_Incident_Data__Historic_.csv')

In [39]:
df.head()

,incident_key,occur_date,occur_time,boro,precinct,jurisdiction_code,location_desc,statistical_murder_flag,perp_age_group,perp_sex,perp_race,vic_age_group,vic_sex,vic_race,x_coord_cd,y_coord_cd,latitude,longitude
0,169180023,09/09/2017,3:57:00,STATEN ISLAND,120,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,959975,171772,40.638126,-74.087467
1,169180027,09/09/2017,22:15:00,BRONX,50,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK HISPANIC,1011288,255912,40.869061,-73.902242
2,169180025,09/09/2017,18:35:00,BROOKLYN,79,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,999888,193014,40.696450,-73.943607
3,169180024,09/09/2017,15:20:00,BROOKLYN,67,0.0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,997784,172132,40.639137,-73.951236
4,169180022,09/09/2017,0:20:00,BROOKLYN,61,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,ASIAN / PACIFIC ISLANDER,1001019,156467,40.596134,-73.939619

In [38]:
df.columns

Index(['incident_key', 'occur_date', 'occur_time', 'boro', 'precinct',
       'jurisdiction_code', 'location_desc', 'statistical_murder_flag',
       'perp_age_group', 'perp_sex', 'perp_race', 'vic_age_group', 'vic_sex',
       'vic_race', 'x_coord_cd', 'y_coord_cd', 'latitude', 'longitude'],
      dtype='object')

In [37]:
#Dont like names so I will change them for easy of use theres no space but in case and lowercase letters
df.columns = [i.replace(' ','_').lower() for i in df.columns]

In [40]:
df.describe()

,incident_key,precinct,jurisdiction_code,latitude,longitude
count,2.140800e+04,21408.000000,21406.000000,21408.000000,21408.000000
mean,9.086174e+07,66.240377,0.326778,40.735809,-73.909238
std,5.154002e+07,27.075786,0.737971,0.087312,0.066795
min,9.953245e+06,1.000000,0.000000,40.511586,-74.249304
25%,5.143890e+07,44.000000,0.000000,40.667910,-73.943353
50%,8.022698e+07,69.000000,0.000000,40.697583,-73.915508
75%,1.402865e+08,81.000000,0.000000,40.823118,-73.882072
max,2.030838e+08,123.000000,2.000000,40.910819,-73.703082

## Cases in each Boro

In [41]:
df['boro'].value_counts()

BROOKLYN         8829
BRONX            6128
QUEENS           3198
MANHATTAN        2617
STATEN ISLAND     636
Name: boro, dtype: int64